@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
}

body{
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
   font-family: 'Poppins', Courier, monospace;
}